.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: blue;
  color: white;
  padding: 10px;
  height: 50px;
}

.navbar-logo {
  max-height: 30px; /* Smaller logo in the navbar */
  width: auto;
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
}

.nav-link:last-child {
  margin-right: 0;
}
.navbar-auth {
  display: flex;
  align-items: center;
  margin-left: auto;
}
